@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
         url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
         url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
         url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'),
         url('../fonts/Ubuntu-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    min-width: 320px;
    // временно 1440px
    min-width: 1440px;
}

.container {
    margin: auto;
    max-width: 1440px;
    padding-left: 165px;
    padding-right: 165px;
}

.tel {
    padding-left: 30px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background-image: url('../img/phone.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.mail {
    padding-left: 30px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background-image: url('../img/mail.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.header {
    .container {
        position: relative;
        min-height: 800px;
        background: url('../img/header.jpg') center top no-repeat;
    }
    &__box {
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 14px;
    }
    &__ball {
        width: 42px;
        height: 42px;
        fill: #fff;
    }
    &__contact {
        margin-left: 155px;
    }
    &__tel {
        margin-right: 25px;
    }
    &__btn {
        padding: 14px 25px 14px 58px;
        font-weight: 700;
        font-size: 18px;
        color: #FFAB00;
        background-color: #FFFFFF;
        border: none;
        border-radius: 100px;
        background-repeat: no-repeat;
        background-position: 25px center;

        &-auth {
            margin-right: 10px;
            background-image: url('../img/auth.svg');
        }
        &-partners {
            background-image: url('../img/partners.svg');
        }
    }
    &__picture {
        z-index: 1;
        position: absolute;
        top: 0;
    }
    &__social {
        position: absolute;
        top: 282px;
        right: 27px;
        display: grid;
        grid-gap: 10px;
    }
    &__link {
        svg {
            width: 24px;
            height: 24px;
            fill: #fff;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__point {
        position: absolute;
        bottom: -25px;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 19px;
            left: 38px;
            bottom: 36px;
            background: url('../img/svg/arrow.svg');
            background-position: center;
        }
    }
    &__item {
        position: absolute;

        &:nth-child(1) {
            top: 62px;
            left: 438px;
        }
        &:nth-child(2) {
            top: 185px;
            left: 249px;
        }
        &:nth-child(3) {
            top: 301px;
            left: 69px;
        }
        &:nth-child(4) {
            top: 431px;
            left: 414px;
        }
        &:nth-child(5) {
            top: 454px;
            left: 92px;
        }
        &:nth-child(6) {
            top: 523px;
            left: 240px;
        }
        &:nth-child(7) {
            top: 738px;
            left: 355px;
        }

        &:nth-child(8) {
            top: 73px;
            right: 493px;
        }
        &:nth-child(9) {
            top: 155px;
            right: 237px;
        }
        &:nth-child(10) {
            top: 338px;
            right: 91px;
        }
        &:nth-child(11) {
            top: 478px;
            right: 290px;
        }
        &:nth-child(12) {
            z-index: 2;
            top: 548px;
            right: 420px;
        }
        &:nth-child(13) {
            top: 596px;
            right: 127px;
        }
    }
}

.hero {
    .container {
        display: flex;
        padding-right: 160px;
        padding-bottom: 40px;
    }
    &__img {
        position: relative;
        top: 20px;
        left: 7px;
        margin-right: 125px;
    }
    &__content {
        padding-top: 151px;
        padding-left: 8px;
    }
    &__title {
        display: inline-block;
        margin-bottom: 25px;
        padding-right: 45px;
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;
        color: #FF9C01;
        background: url('../img/svg/hero-title.svg') no-repeat center right;

        span {
            &:nth-child(2) {
                color: black;
            }
        }
    }
    &__info {
        margin-bottom: 73px;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #768C9B;
    }
    &__link {
        &:not(:last-child) {
            margin-right: 23px;
        }
    }
}

.rest {
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 530px 1fr;
        grid-gap: 23px;
        color: #FFFFFF;
        background: url('../img/rest.jpg') center top no-repeat;
    }
    &__content {
        padding-top: 178px;
    }
    &__img {
        position: relative;
        top: -103px;
    }
    &__title {
        max-width: 460px;
        margin-bottom: 18px;
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 31px;
        line-height: 38px;
        text-transform: uppercase;
        color: #fff;
        background: url('../img/rest-icon.png') 290px top no-repeat;

        span {
            color: #FF9C01;
        }
    }
    &__info {
        max-width: 550px;
        margin-bottom: 18px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }
    &__list {
        display: flex;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
    &__number {
        font-weight: 600;
        font-size: 37px;
    }
    &__discription {
        font-weight: 400;
        font-size: 18px;
    }
    &__ball {
        position: absolute;

        &:nth-child(1) {
            top: -2px;
            left: 165px;
        }
        &:nth-child(2) {
            top: -15px;
            left: 712px;
        }
        &:nth-child(3) {
            top: 473px;
            left: 1180px;
        }
    }
}

.platform {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    &__title {
        max-width: 400px;
        margin-bottom: 20px;
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
        text-transform: uppercase;
        transform: translateY(-5px);
        background: url('../img/platroft-icon.png') 308px 40px no-repeat;

        span {
            font-size: 35px;
            color: #FF9C01;
        }
    }
    &__info {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #4E5C66;
    }
    &__img {
        position: relative;
        top: -60px;
    }
    &__item {
        position: absolute;
        
        &:nth-child(2) {
            top: 86px;
            left: 57px;
        }
        &:nth-child(3) {
            top: 126px;
            left: 146px;
        }
        &:nth-child(4) {
            top: 151px;
            left: 270px;
        }
        &:nth-child(5) {
            top: 90px;
            left: 389px;
        }
    }
}

.delivery {
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10px;
        grid-gap: 30px;
        color: #FFFFFF;
        background: url('../img/delivery.jpg') no-repeat;
    }
    &__img {
        transform: translateY(-20px);
    }
    &__content {
        padding-top: 144px;
    }
    &__title {
        display: inline-block;
        margin-bottom: 30px;
        padding-right: 50px;
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
        text-transform: uppercase;
        background: url('../img/delivery-icon.png') right center no-repeat;
    }
    &__info {
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
    }
    &__item {
        position: absolute;

        &:nth-child(1) {
            top: -21px;
            left: 1045px;
        }
        &:nth-child(2) {
            top: 474px;
            left: 833px;
        }
        &:nth-child(3) {
            top: 440px;
            left: 1101px;
        }
    }
}

.questions {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    &__content {
        padding-top: 167px;
    }
    &__img {
        transform: translate(15px, -20px);
    }
    &__title {
        max-width: 450px;
        margin-bottom: 20px;
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 31px;
        line-height: 38px;
        text-transform: uppercase;
        color: #000000;
        background: url('../img/questions-icon.png') 175px 40px no-repeat;

        span {
            color: #FF9C01;
        }
    }
    &__heading {
        &:not(:last-child) {
            margin-bottom: 3px !important;
        }
    }
    &__arrow {
        transition: .3s ease-in-out transform;
    }
    .ui-state-active .questions__arrow {
        transform: rotate(180deg);
    }
    .ui-accordion-header-icon {
        display: none;
    }
    .ui-accordion-header {
        display: flex !important;
        justify-content: space-between;
        margin-top: 0 !important;
        padding: 5px 5px 5px 10px;
        font-weight: 700;
        font-size: 16px;
        color: #4E5C66;
        background-color: #fff;
        border: none;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

    }
    .ui-accordion-content {
        padding: 8px 10px !important;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #4E5C66;
        border: none;
    }
}

.reviews {
    .container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        margin-top: 50px;
        color: #fff;
        background: url('../img/rewiews.jpg') no-repeat;
    }
    &__img {
        transform: translate(25px, -55px);
    }
    &__content {
        max-width: 445px;
        padding-top: 70px;
    }
    &__title {
        display: inline-block;
        margin-bottom: 18px;
        padding-right: 50px;
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        background: url('../img/reviews-icon.png') right center no-repeat;
    }
    &__info {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }
    &__band {
        margin-bottom: 17px;
        width: 128px;
        height: 17px;
        fill: #fff;
    }
    &__discription {
        margin-bottom: 12px;
        font-family: 'Times New Roman';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    &__author {
        font-weight: 700;
        font-size: 14px;
        text-align: right;
    }
    &__item {
        position: absolute;

        &:nth-child(1) {
            top: -37px;
            left: 545px;
        }
        &:nth-child(2) {
            top: -20px;
            left: 1169px;
        }
        &:nth-child(3) {
            top: 431px;
            left: 1138px;
        }
    }
}

.connection {
    .container {
        position: relative;
        padding-top: 100px;
        padding-bottom: 125px;
    }
    &__content {
        z-index: 1;
        position: relative;
        padding: 30px;
        background: #FFFFFF;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }
    &__title {
        display: inline-block;
        margin-bottom: 10px;
        padding-right: 50px;
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        color: #414141;
        background: url('../img/connection-icon.png') right center no-repeat;
    }
    &__info {
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 14px;
        color: #414141;
    }
    &__form {
        position: relative;
        display: flex;
    }
    &__input {
        width: 255px;
        margin-right: 30px;
        padding: 11px;
        border: none;
        background: #EEEFF2;
        border-radius: 8px;

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            color: #4E5C66;
        }
    }
    &__btn {
        padding: 22px 49px;
        font-weight: 900;
        font-size: 19px;
        color: #FFFFFF;
        border: none;
        background: #F7620F;
        border-radius: 8px;
    }
    &__span {
        position: absolute;
        bottom: 0;
        font-weight: 400;
        font-size: 14px;
        color: #565656;

        span {
            text-decoration: underline;
        }
    }
    &__decoration {
        position: absolute;
        top: -175px;
        right: 0;
    }
}

.footer {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #FFAB00;
    }
    &__contacts {
        margin-left: 435px;
    }
    &__tel {
        margin-right: 25px;
    }
    &__btn {
        padding: 12px 25px;
        font-weight: 700;
        font-size: 18px;
        background-color: #FFFFFF;
        color: #FFAB00;
        border: none;
        border-radius: 100px;
    }
}